@charset "UTF-8";

/* ----------------------------------------------------------
  Loader
---------------------------------------------------------- */

.wpucontactforms-form-wrapper {
    z-index: 1;
    position: relative;
}

.wpucontactforms-form-wrapper:before {
    content: '';
    visibility: hidden;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    background-color: rgba(255,255,255,0.8);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wp-admin .wpucontactforms-form-wrapper:before {
    background-color: rgba(241,241,241,0.8);
}

.wpucontactforms-form-wrapper.contact-form-is-loading:before {
    visibility: visible;
    opacity: 0.999;
}

.wpucontactforms-form-wrapper [data-required="true"] > label:not([data-for-required="1"]):not(.label-checkbox):after {
    content: '*';
}

/* ----------------------------------------------------------
  Groups
---------------------------------------------------------- */

[data-wpucontactforms-group="1"][data-visible="0"] {
    z-index: 1;
    position: absolute;
    top: 0;
    left: -100vw;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0.01;
}
